/.ipynb_checkpoints
models/.ipynb_checkpoints
*.pth
/PHM09_competition_1
מצגת פרויקט נתיב ויואב.pptx
Document_detailing_the_products_for_submission.docx
models/model0.ipynb
models/*.pth
models/.ipynb_checkpoints
*.docx